.button {
  font-size: 14px;
  padding: 6px 12px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
  background-color: #9dbca6;
}
