.marketCard {
  padding: 5px;
  margin: 5px;
  display: list-item;
  width: 100%;
  height: 100%;
  border: solid #9dbca6 2px;
  background: #9dbca6;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
}

.navBarLocal {
  background: #9dbca6;
}

.marketCard a {
  color: black !important;
}

.productCardDisplay {
  padding: 10px;
  margin: 5px;
  display: block;
  width: 90%;
  border: solid #9dbca6 2px;
  background: transparent;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}
